{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="col-lg-6">
        <div class="block">
          <div class="title"><strong class="d-block">Activate Your Account To Continue</strong></div>
          <div class="block-body">
              <div class="alert">
                  <div class="p-3">
                      <ul class="list-group">
                          <li>In order to continue enjoying the services, You need to activate your account</li>
                          <li>After sending the activation fee, send your proof of payment to admin for confirmation</li>
                          <li>You will now enjoy to other services</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Procedure for activation</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-description">Send Tsh. 15000 to 255745383928 (HAWA RAMADHANI MCHOPA)</p>
                        <input type="text" id="phoneInput" class="form-control" value="255745383928" readonly="readonly">
                        <div class="mt-3">
                          <button id="phone-copy-button" type="button" class="btn btn-info btn-clipboard" onclick="myFunction()">Click to copy Phone number</button>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block custom_script %}

<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/charts-home.js' %}"></script>

    <script>

        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("phoneInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            $('#phone-copy-button').html('Phone number Copied!');

        }
    </script>

{% endblock %}