{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6">
    <div class="block">
      <div class="title"><strong class="d-block">Profile</strong><span class="d-block"></span></div>
      <div class="block-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Username</label>
            <div class="col-sm-9">
              <input id="inputHorizontalSuccess" type="email" readonly value="{{ user.username }}" class="form-control form-control-success">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Email Address</label>
            <div class="col-sm-9">
              <input id="inputHorizontalSuccess" type="text" readonly value="{{ user.email }}" class="form-control form-control-success">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Phone Number</label>
            <div class="col-sm-9">
              <input id="inputHorizontalSuccess" type="text" readonly value="{{ user.profile.phone_number }}" class="form-control form-control-success">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Date Joined</label>
            <div class="col-sm-9">
              <input id="inputHorizontalSuccess" type="text" readonly value="{{ user.date_joined }}" class="form-control form-control-success">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Upline</label>
            <div class="col-sm-9">
              <input id="inputHorizontalWarning" type="text" readonly value="{{ user.profile.referer.username }}" class="form-control form-control-warning">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
