{% extends 'core/index.html' %}
{% load static %}

{% block custom_script %}

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <!-- import Pusher-js library -->
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <script type="text/javascript">
        const pusher = new Pusher('{{ api_key }}', {
            cluster: '{{ cluster }}',
            encrypted: true,
        });

        const channel = pusher.subscribe('crypto');

        channel.bind('data-updated', data => {
            console.log("RESPONSE: " + data);
            const graph = JSON.parse(data.graph);
            Plotly.newPlot('price_chart', graph);
            const bar_chart = JSON.parse(data.bar_chart);
            Plotly.newPlot('market_cap_chart', bar_chart);
        });
    </script>

    <script>

        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            $('#clipboard-copy-button').html('Copied!');

        }
    </script>

{% endblock %}

{% block custom_header %}
<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

{% endblock %}


{% block content %}
<div class="row">


  <div class="col-md-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="col-12 d-flex flex-row py-3 px-4 rounded justify-content-between">
          <div><h6 class="mb-1">Account Balance</h6><p class="card-text"></p></div>
          <div class="align-self-center"><h6 class="font-weight-bold mb-0">Ksh. {{ user.wallet.amount }}</h6></div>
        </div>
      </div>
    </div>
  </div> 


  <div class="col-md-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="col-12 d-flex flex-row py-3 px-4 rounded justify-content-between">
          <div><h6 class="mb-1">Assets Value</h6><p class="card-text"></p></div>
          <div class="align-self-center"><h6 class="font-weight-bold mb-0">Ksh. {{ value }}</h6></div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="col-md-8 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h4 class="card-title"> YOUR ASSETS </h4>
          <p><code>Shares that you own</code></p>
        </div>
        <div class="align-self-center">
          <a href="{% url 'trading:investments' %}"><p class="text-muted">View History</p></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="preview-list">


          {% for asset in assets %}
            {% if asset.total_items > 0 %}
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-primary rounded">
                    <i class="mdi mdi-file-document"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">{{ asset.share__name }}</h6>
                    <p class="mb-0">{{ asset.share__symbol }} </p>
                  </div>
                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                    <p class="text-muted">{{ asset.total_items }}{% if asset.total_items == 1 %} share {% else %} shares {% endif %}</p>
                    <p> {{ asset.current_price }} </p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block page_title %}
Dashboard
{% endblock %}

{% block title %}
Investment::Dashboard
{% endblock %}
