{% extends 'core/index.html' %}
{% load static %}

{% block title %}
Share Detail
{% endblock %}

{% block custom_head %}

{% endblock %}

{% block custom_script %}
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'assets/js/alerts.js' %}"></script>
<script src="{% static 'assets/vendors/sweetalert/sweetalert2.all.min.js' %}"></script>
<script type="text/javascript">

{# DEFINING VARIABLES #}
const unit_price = {{ share.current_price }};
const amount_input = $('#amount');
const quantity_input = $('#quantity');
const user_balance = {{ user.wallet.amount }};
const amt = amount_input.val();
const btn = $('#invest_button');
let mSwal = function(type, message) {
    'use strict';
    Swal.fire({
        title: type + "!",
        text: message,
        icon: type,
    });

  }
amount_input.on('input', function(e) {
    if (amt >= 0) {
        quantity_input.prop('value', amt / unit_price);
    }
});
quantity_input.on('input', function (e) {
    const qty = quantity_input.val();
    var bal = user_balance - (qty * unit_price);
    if (bal < 0) {
        return
    }
    if (qty >= 0) {
        amount_input.prop('value', qty * unit_price);
        $('#current_selected_total').html(qty * unit_price);
        $('#current_total').html(bal);
    }
});

btn.on('click', function (e) {
    e.preventDefault();
    btn.html('')
    btn.wrapInner('<div class="spinner-border" role="status"><span class="sr-only"></span></div> Processing...');
    setTimeout(function () {
        const amt = amount_input.val();
        if (amt === '0' || quantity_input.val() === '0') {
            console.log("AMOUNT IS 0, QUITTING...");
            mSwal('warning', 'Enter valid amount or quantity');
            btn.html('Invest')
        }else{
            console.log("INVESTING...");
            $('#conf_brocker_fees').html(100);
            $('#conf_quantity').html(quantity_input.val());
            $('#conf_amount').html(quantity_input.val() * unit_price);
            $('#conf_total').html(quantity_input.val() * unit_price + 100);
            $('#investmentModal').modal('show');
            btn.html('Invest');
    }

    }, 500);

});

$('#investment_submit').on('click', function (e) {
    e.preventDefault();
    $.ajax({
        url: '{% url 'trading:buy_shares' %}',
        type: 'POST',
        data: {
            symbol: "{{ share.symbol }}",
            quantity: quantity_input.val(),
            fees: 100
        },
        success: function (data) {
            var d = $.parseJSON(data)[0];
            var url = "{% url 'trading:receipt' pk='1' %}"
            console.log("SUCCESSFUL AJAX REQUEST");
            mSwal('success', 'Successfully Invested');
            $('#investmentModal').modal('hide');
            setTimeout(function () {
                window.location.replace("");
            }, 100);
        },
        error: function (error, exception) {
            console.log("AN ERROR OCCURRED");

            mSwal('error', error.responseText)
        }
    });
});

</script>
{% endblock %}

{% block content %}
  <div class="col-md-12 align-items-start profile-feed-item">
    <div class="row">
      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <div>
                <h4 class="card-title">Invest Now</h4>
              </div>
              <div class="align-self-center">
                <p class="text-muted">View History</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                  <img class="card-img-top" width="30%" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text={{ share.name }} ({{ share.symbol }})" alt="{{ share.name }} image cap">

                  <div class="row">
                      <div class="col-md-6">
                        <div class="py-4">
                          <p class="clearfix">
                            <span class="float-left"> Status </span>
                            <span class="float-right text-muted"> Active </span>
                          </p>
                          <p class="clearfix">
                            <span class="float-left"> Share Price </span>
                            <span class="float-right text-muted"> Ksh. {{ share.current_price }} </span>
                          </p>
                        </div>
                      </div>
                  </div>
                  <hr>
                  <div class="col-md-9 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title"> Buy {{ share.name }} Shares </h4>
                        <p class="card-description"> Fill the form below </p>
                        <form class="forms-sample">
                          <div class="form-group">
                            <label for="quantity">Number of Shares To Buy</label>
                            <input required type="number" name="investment_quantity" class="form-control" id="quantity" value="0">
                          </div>
                          <div class="form-group">
                            <label for="amount">Amount To Pay</label>
                            <input required type="number" name="investment_amount" class="form-control" id="amount" value="0">
                          </div>
                          <button type="button" id="invest_button" class="btn btn-primary mr-2">Buy Shares</button>
                          <button class="btn btn-dark">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Current Balance</h4>
            <div class="row my-4">
              <div class="col-lg-7 mx-auto text-center">
                <div id="currentBalanceCircle" class="progressbar-js-circle demo-progress-circle"></div>
                <h3 class="card-text mb-0 mt-4">Ksh. {{ user.wallet.amount }}</h3>
                <p class="card-text">Current Balance</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 bg-gray-dark d-flex flex-row py-3 px-4 rounded justify-content-between">
                <div>
                  <h6 class="mb-1">Total selected</h6>
                </div>
                <div class="align-self-center">
                  <h6 class="font-weight-bold mb-0" id="current_selected_total">Ksh. 0</h6>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 bg-gray-dark d-flex flex-row py-3 px-4 rounded">
                <div>
                  <h6 class="mb-1">Balance</h6>
                </div>
                <div class="align-self-center flex-grow text-right">
                  <h6 class="font-weight-bold mb-0" id="current_total">Ksh. {{ user.wallet.amount }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="investmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Confirm Investing in {{ share.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="card-img-top" width="30%" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text={{ share.name }} ({{ share.symbol }})" alt="{{ share.name }} image cap">
              <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="py-4">
                      <p class="clearfix"><span class="float-left font-weight-bolder"> Account Balance </span><span class="float-right text-muted font-weight-bolder"> Ksh. {{ user.wallet.amount }} </span></p>
                        <hr>
                      <p class="clearfix"><span class="float-left"> Broker Fees </span><span class="float-right text-muted" id="conf_brocker_fees"></span></p>
                      <p class="clearfix"><span class="float-left"> Share Price </span><span class="float-right text-muted"> Ksh. {{ share.current_price }} </span></p>
                      <p class="clearfix"><span class="float-left"> Shares Bought </span><span class="float-right text-muted" id="conf_quantity"></span></p>
                      <p class="clearfix"><span class="float-left"> Amount Paid </span><span class="float-right text-muted" id="conf_amount"></span></p>
                        <hr>
                      <p class="clearfix"><span class="float-left font-weight-bolder"> TOTAL </span><span class="float-right text-muted font-weight-bolder" id="conf_total"></span></p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="investment_submit">Submit</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
