{% extends 'core/index.html' %}
{% load static %}

{% block title %}
List
{% endblock %}

{% block custom_script %}
<script src="{% static 'js/holder.min.js' %}"></script>

    <script type="text/javascript">
    const search_input = $('#company_search');

    search_input.on('input', function () {
        const q = search_input.val();

        $.ajax({
            url: "{% url 'core:search' %}",
            type: 'POST',
            data: {
                q: q
            },
            success: function (data) {
                const res = $.parseJSON(data);
                $('#search_results').html('');

                jQuery.each(res, function (index, value) {
                    var url = "{% url 'core:details' symbol='sm' %}"
                    url = url.replace('sm', value.fields.symbol);
                    $('#search_results').append(

                       '<div class="card">' +
                        '<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=SYMBOL" alt="' + value.fields.name + ' image cap">' +
                        '<div class="card-body">' +
                        '<h4 class="card-title">' + value.fields.name + '</h4>' +
                        '<p class="card-text">' + value.fields.description + '</p>' +
                        '<div class="py-4">' +
                        '<p class="clearfix">' +
                        '<span class="float-left"> Status </span>' +
                        '<span class="float-right text-muted"> Active </span>' +
                        '</p>' +

                        '<p class="clearfix">' +
                        '<span class="float-left"> Share Price </span>' +
                        '<span class="float-right text-muted"> Ksh. ' + value.fields.current_price + ' </span>' +
                        '</p>' +
                        '</div>' +
                        '<a href="' + url + '"><button class="btn btn-primary btn-block">Select</button></a>' +
                        '</div>' +
                        '</div>'


                    );
                });
            },
            error: function (error, exception){

            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <form action="#">
                <div class="form-group d-flex">
                    <input type="text" class="form-control" id="company_search" placeholder="Search Here">
                    <button type="submit" class="btn btn-primary ml-3">Search</button>
                </div>
            </form>
        </div>
    </div>
<div class="content-wrapper">
    <div class="card-columns" id="search_results">
        {% for share in shares %}
            <div class="card">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text={{ share.name }} ({{ share.symbol }})" alt="{{ share.name }} image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ share.name }}</h4>
                    <p class="card-text">{{ share.description }}</p>
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left"> Status </span>
                        <span class="float-right text-muted"> Active </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left"> Share Price </span>
                        <span class="float-right text-muted"> Ksh. {{ share.current_price }} </span>
                      </p>
                    </div>
                    <a href="{% url 'core:details' symbol=share.symbol %}"><button class="btn btn-primary btn-block">Select</button></a>
                </div>
            </div>

        {% endfor %}


    </div>
</div>
{% endblock %}

