{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'head.html' %}

    {% block custom_header %}{% endblock %}
  </head>
  <body>

    {% include 'header.html' %}

    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->

        {% include 'sidebar.html' %}

      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">{% block page_title %}{% endblock %}</h2>
          </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="row ml-2">
                    <div class="col-md-6 col-sm-12">
                        <div class="alert alert-{{ message.tags }}"><strong>{{ message.tags }}: </strong> {{ message }}</div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
        {% block content %}
            THIS IS THE PAGE CONTENT
        {% endblock %}

        {% include 'footer.html' %}
      </div>
    </div>
    {% include 'scripts.html' %}

  {% block custom_script %}{% endblock %}
  </body>
</html>