{% extends 'core/index.html' %}

{% block title %}
    Investments
{% endblock %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">My Investments</h4>
            <p class="card-description"><code>Investments you have made</code>
            </p>
            <div class="table-responsive">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th> # </th>
                    <th> Date </th>
                    <th> Name </th>
                    <th> Symbol </th>
                    <th> Price when purchasing </th>
                    <th> Quantity Purchased </th>
                    <th> Total Amount </th>

                  </tr>
                </thead>
                  <tbody>

                  {% for investment in investments %}
                      <tr>
                          <td> {{ forloop.counter }} </td>
                          <td> {{ investment.investment_date|timesince }} ago </td>
                          <td> {{ investment.share.name }} </td>
                          <td> {{ investment.share.symbol }} </td>
                          <td> Ksh. {{ investment.current_price }} </td>
                          <td> {{ investment.quantity }} {% if investment.quantity == 1 %} share {% else %} shares {% endif %}</td>
                          <td> Ksh. {{ investment.total_paid }} </td>
                      </tr>
                {% endfor %}


                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
{% endblock %}