{% extends 'core/index.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card px-2">
      <div class="card-body">
        <div class="container-fluid">
          <h3 class="text-right my-5">Invoice&nbsp;&nbsp;#INV-{{ investment.pk }}</h3>
          <hr>
        </div>
        <div class="container-fluid d-flex justify-content-between">
          <div class="col-lg-3 pl-0">
            <p class="mt-5 mb-2"><b>Trustfuse Admin</b></p>
            <p>104,<br>Chuka,<br>Kenya</p>
          </div>
          <div class="col-lg-3 pr-0">
            <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
            <p class="text-right">{{ investment.user.username }},<br> {{ investment.user.email }},<br> Kenya.</p>
          </div>
        </div>
        <div class="container-fluid d-flex justify-content-between">
          <div class="col-lg-3 pl-0">
            <p class="mb-0 mt-5">Receipt Date : {{ investment.investment_date }}</p>

          </div>
        </div>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
          <div class="table-responsive w-100">
            <table class="table">
              <thead>
                <tr class="bg-dark text-white">
                  <th>#</th>
                  <th>Name</th>
                  <th>Symbol</th>
                  <th class="text-right">Quantity</th>
                  <th class="text-right">Unit cost</th>
                  <th class="text-right">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-right">
                  <td class="text-left">1</td>
                  <td class="text-left">{{ investment.share.name }}</td>
                  <td class="text-left">{{ investment.share.symbol }}</td>
                  <td>{{ investment.quantity }}</td>
                  <td>{{ investment.current_price }}</td>
                  <td>{{ investment.cost }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid mt-5 w-100">
          <p class="text-right mb-2">Sub - Total amount: {{ investment.cost }}</p>
          <p class="text-right">Fees : 100</p>
          <h4 class="text-right mb-5">Total : {{ investment.total_paid }}</h4>
          <hr>
        </div>
        <div class="container-fluid w-100">
          <a href="#" class="btn btn-primary float-right mt-4 ml-2"><i class="mdi mdi-printer mr-1"></i>Print</a>
          <a href="#" class="btn btn-success float-right mt-4"><i class="mdi mdi-telegram mr-1"></i>Send Invoice</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
