{% extends 'core/index.html' %}
{% load static %}

{% block content %}

<div class="row">


  <div class="col-md-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="col-12 d-flex flex-row py-3 px-4 rounded justify-content-between">
          <div><h6 class="mb-1">Account Balance</h6><p class="card-text"></p></div>
          <div class="align-self-center"><h6 class="font-weight-bold mb-0">Ksh. {{ user.wallet.amount }}</h6></div>
        </div>
      </div>
    </div>
  </div> 


  <div class="col-md-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="col-12 d-flex flex-row py-3 px-4 rounded justify-content-between">
          <div><h6 class="mb-1">Assets Value</h6><p class="card-text"></p></div>
          <div class="align-self-center"><h6 class="font-weight-bold mb-0">Ksh. {{ value }}</h6></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row grid-margin">
  <div class="col-lg-12">
    <div class="card px-3">
      <div class="card-body">
        <h4 class="card-title">SELL SHARES</h4>

            <div class="row">
                <div class="col-md-8">

                    <div class="card m-2">
                      <div class="card-body">
                        <h4 class="card-description"> Fill the form below </h4>
                          <hr>
                        <form class="forms-sample">
                          <div class="form-group">
                            <label for="sell_choices">Asset</label>
                              <select class="form-control text-white" id="sell_choices">
                                {% for share in shares %}
                                  <option value="{{ share.share__symbol }}"> {{ share.share__name }}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="sell_quantity">Number of Shares To Sell</label>
                            <input required type="number" name="quantity" class="form-control text-white" id="sell_quantity" value="0">
                          </div>
                          <div class="form-group">
                            <label for="sell_amount">Amount To Pay</label>
                            <input required type="number" name="amount" class="form-control" id="sell_amount" value="0">
                          </div>
                          <button type="button" id="sell_button" class="btn btn-primary mr-2">Sell Shares</button>
                          <button class="btn btn-dark">Cancel</button>
                        </form>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card m-2">
                      <div class="card-body">
                        <h4 class="card-title">Account Information</h4>
                        <p class="card-description"><code class="text-primary">Summary of Shares you hold</code></p>
                        <p class="card-description">BALANCE:  <code class="text-primary">Ksh. {{ user.wallet.amount }}</code></p>
                        <div class="template-demo">
                          <table class="table mb-0">
                            <thead>
                              <tr>
                                <th class="pl-0 text-info">Name</th>
                                <th class="text-right text-danger">Shares Count</th>
                              </tr>
                            </thead>
                            <tbody>

                            {% for share in shares %}

                                <tr>
                                    <td class="pl-0">
                                      <div class="text-primary">{{ share.share__name }}</div>
                                    </td>
                                    <td class="pr-0 text-right">
                                      <div class="text-danger">{{ share.total_items }}</div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="{% static 'assets/js/alerts.js' %}"></script>
<script src="{% static 'assets/vendors/sweetalert/sweetalert2.all.min.js' %}"></script>
<script type="text/javascript">

{# DEFINING VARIABLES #}
let unit_price = 0;
let amount_input = $('#sell_amount');
const quantity_input = $('#sell_quantity');
const asset = $('#sell_choices');
const user_balance = {{ user.wallet.amount }};
const amt = amount_input.val();
const btn = $('#sell_button');
let mSwal = function(type, message) {
    'use strict';
    Swal.fire({
        title: type + "!",
        text: message,
        icon: type,
    });

  }

let makeAjax = function () {
    $.ajax({
        url: "{% url 'core:price'  %}",
        type: "POST",
        data: {
            q: asset.val()
        },
        success: function (data) {
            let d = $.parseJSON(data);
            amount_input.prop('value', quantity_input.val() * d);
        },
        error: function (error, exception) {
            console.log(error.responseText);
        }
    });

};
asset.on('change', function () {
    makeAjax();
});
quantity_input.on('input', function(e) {
    makeAjax();
});
quantity_input.on('input', function (e) {
    const qty = quantity_input.val();
    if (qty >= 0) {
        amount_input.prop('value', qty * unit_price);
    }
});

btn.on('click', function (e) {
    e.preventDefault();
    const amt = amount_input.val();
    if (amt === '0') {
        console.log("AMOUNT IS 0, QUITTING...");
        mSwal('warning', 'Enter valid amount');
    }else{
      btn.prop('disabled', true);
      btn.wrapInner('<div class="spinner-border" role="status"><span class="sr-only"></span></div> Processing...');
  
      console.log("INVESTING...");

      $.ajax({
        url: "{% url 'trading:sell_submit' %}",
        type: 'POST',
        data: {
          asset: asset.val(),
          quantity: quantity_input.val()
        },
        success: function (data) {
          mSwal('success', data);
          console.log(data);
          console.log("success...");
          btn.html('Sell');
          btn.prop('disabled', false);
          setTimeout(function () {
          
            location.reload();
          }, 500);
            
        },
        error: function (error, exception) {
          console.log("error...");
          btn.html('Sell');
          btn.prop('disabled', false);
          console.log(error.responseText);
        }
      });
    }
});


</script>
{% endblock %}
