{% extends 'core/index.html' %}

{% block content %}

{#    <div class="text-center">#}
{#      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal-3">Click for demo<i class="mdi mdi-play-circle ml-1"></i></button>#}
{#    </div>#}
    <div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-3">Make Withdrawal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="card-description"> Enter Amount To withdraw </p>
                <div class="form-group">
                  <label for="withdrawal_amount">Amount</label>
                  <input type="number" class="form-control" id="withdrawal_amount" name="amount" placeholder="amount">
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
              </div>
            </form>
        </div>
      </div>
    </div>





{#  <div class="col-md-6 grid-margin stretch-card">#}
{#    <div class="card">#}
{#      <div class="card-body">#}
{#        <h4 class="card-title">Withdraw Funds</h4>#}
{#        <p class="card-description"> Enter Amount To withdraw </p>#}
{#        <form class="forms-sample">#}
{#          <div class="form-group">#}
{#            <label for="exampleInputUsername1">Amount</label>#}
{#            <input type="text" class="form-control" id="amount" placeholder="Username">#}
{#          </div>#}
{##}
{#          <button type="submit" class="btn btn-primary mr-2">Submit</button>#}
{#          <button class="btn btn-dark">Cancel</button>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

<div class="row">


  <div class="col-md-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="col-12 d-flex flex-row py-3 px-4 rounded justify-content-between">
          <div><h6 class="mb-1">Account Balance</h6><p class="card-text"></p></div>
          <div class="align-self-center"><h6 class="font-weight-bold mb-0">Ksh. {{ user.wallet.amount }}</h6></div>
        </div>
      </div>
    </div>
  </div> 

</div>

    <div class="card">
        <div class="card-header ml-2">
            <span class="card-title">WITHDRAWAL HISTORY</span>
            <div class="float-right"><span class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal-3">Make Withdrawal</span></div>
        </div>
        <div class="card-body">

          <hr>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="order-listing" class="table">
                <thead>
                  <tr>
                    <th> # </th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Receiving Phone</th>
                  </tr>
                </thead>
                <tbody>
                  {% for withdrawal in withdrawals %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ withdrawal.amount }}</td>
                      <td>{{ withdrawal.date_created }}</td>
                      <td><label class="badge badge-info">Completed</label></td>
                      <td>{{ request.user.profile.phone }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}